# My SQL connector

In [1]:
! pip install mysql.connector

Requirement already satisfied: mysql.connector in c:\users\ilaya-03\anaconda3\lib\site-packages (2.2.9)

In [3]:
import mysql.connector
import pandas as pd
import numpy as np

In [5]:
df_buses_1=pd.read_csv("Aandhra_details.csv")
df_buses_2=pd.read_csv("Assam_details.csv")
df_buses_3=pd.read_csv("chandigarh_Details.csv")
df_buses_4=pd.read_csv("Kerala_Details.csv")
df_buses_5=pd.read_csv("West_Bengal_Details.csv")
df_buses_6=pd.read_csv("South_Bengal_Details.csv")
df_buses_7=pd.read_csv("North_Bengal_Details.csv")
df_buses_8=pd.read_csv("Kadamba_Details.csv")
df_buses_9=pd.read_csv("Jammu_Kashmir_Details.csv")
df_buses_10=pd.read_csv("Himachal_Details.csv")

Final_df=pd.concat([df_buses_1,df_buses_2,df_buses_3,df_buses_4,df_buses_5,df_buses_6,
                    df_buses_7,df_buses_8,df_buses_9,df_buses_10],ignore_index=True)
Final_df

,Bus_name,Bus_type,Start_time,End_time,Total_duration,Price,Seats_Available,Ratings,Route_link,Route_name,State_Name
0,IntrCity SmartBus,Scania AC Multi Axle Sleeper (2+1),23:59,06:30,06h 31m,INR 649,20 Seats available,4.5\n473,https://www.redbus.in/bus-tickets/hyderabad-to...,Hyderabad to Vijayawada,Aandhra_Pradesh
1,Zingbus Plus,A/C Seater / Sleeper (2+1),23:38,06:05,06h 27m,486,27 Seats available,4.5\n474,https://www.redbus.in/bus-tickets/hyderabad-to...,Hyderabad to Vijayawada,Aandhra_Pradesh
2,FRESHBUS,Electric A/C Seater (2+2),00:20,06:30,06h 10m,499,24 Seats available,4.5\n428,https://www.redbus.in/bus-tickets/hyderabad-to...,Hyderabad to Vijayawada,Aandhra_Pradesh
3,AdIntrCity SmartBus,A/C Seater / Sleeper (2+1),23:25,07:15,07h 50m,INR 449,29 Seats available,4.2\n236,https://www.redbus.in/bus-tickets/hyderabad-to...,Hyderabad to Vijayawada,Aandhra_Pradesh
4,IntrCity SmartBus,A/C Seater / Sleeper (2+1),23:05,06:00,06h 55m,INR 529,23 Seats available,4.4\n542,https://www.redbus.in/bus-tickets/hyderabad-to...,Hyderabad to Vijayawada,Aandhra_Pradesh
...,...,...,...,...,...,...,...,...,...,...,...
1048,Malana Travels,Volvo 9600 Multi Axle Semi-Sleeper (2+2),20:00,06:00,10h 00m,902,15 Seats available,4.5\n381,https://www.redbus.in/bus-tickets/manali-to-delhi,Manali to Delhi,Himachal Pradesh
1049,Royal Travels Hills,Volvo A/C Semi Sleeper (2+2),19:30,06:00,10h 30m,INR 1099,27 Seats available,4.5\n3,https://www.redbus.in/bus-tickets/manali-to-delhi,Manali to Delhi,Himachal Pradesh
1050,VT Bus,Scania Multi-Axle AC Semi Sleeper (2+2),21:00,08:00,11h 00m,754,6 Seats available,4.5\n13,https://www.redbus.in/bus-tickets/manali-to-delhi,Manali to Delhi,Himachal Pradesh
1051,IntrCity SmartBus,Volvo A/C Semi Sleeper (2+2),19:30,06:45,11h 15m,INR 749,8 Seats available,4.7\n382,https://www.redbus.in/bus-tickets/manali-to-delhi,Manali to Delhi,Himachal Pradesh
1052,Zingbus Plus,Volvo 9600 A/C Semi Sleeper (2+2),18:40,06:00,11h 20m,805,9 Seats available,4.6\n365,https://www.redbus.in/bus-tickets/manali-to-delhi,Manali to Delhi,Himachal Pradesh

# Data Cleaning

In [7]:
Final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1053 entries, 0 to 1052
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Bus_name         1052 non-null   object
 1   Bus_type         1052 non-null   object
 2   Start_time       1052 non-null   object
 3   End_time         1052 non-null   object
 4   Total_duration   1052 non-null   object
 5   Price            1052 non-null   object
 6   Seats_Available  1052 non-null   object
 7   Ratings          1052 non-null   object
 8   Route_link       1052 non-null   object
 9   Route_name       1052 non-null   object
 10  State_Name       1053 non-null   object
dtypes: object(11)
memory usage: 90.6+ KB

In [9]:
Final_df["Price"]=Final_df["Price"].str.replace("INR","")
Final_df["Price"]=Final_df["Price"].astype(float)
Final_df["Price"].fillna(0)

0        649.0
1        486.0
2        499.0
3        449.0
4        529.0
         ...
1048     902.0
1049    1099.0
1050     754.0
1051     749.0
1052     805.0
Name: Price, Length: 1053, dtype: float64

In [11]:
#convert Ratings to numeric
Final_df["Ratings"]=Final_df["Ratings"].str.replace("New","")
Final_df["Ratings"]=Final_df["Ratings"].str.strip()
Final_df["Ratings"]=Final_df["Ratings"].str.split().str[0]
Final_df["Ratings"] = pd.to_numeric(Final_df["Ratings"], errors='coerce')
Final_df["Ratings"].fillna(0,inplace=True)

C:\Users\Ilaya-03\AppData\Local\Temp\ipykernel_11136\709375803.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  Final_df["Ratings"].fillna(0,inplace=True)

In [13]:
Final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1053 entries, 0 to 1052
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Bus_name         1052 non-null   object
 1   Bus_type         1052 non-null   object
 2   Start_time       1052 non-null   object
 3   End_time         1052 non-null   object
 4   Total_duration   1052 non-null   object
 5   Price            1052 non-null   float64
 6   Seats_Available  1052 non-null   object
 7   Ratings          1053 non-null   float64
 8   Route_link       1052 non-null   object
 9   Route_name       1052 non-null   object
 10  State_Name       1053 non-null   object
dtypes: float64(2), object(9)
memory usage: 90.6+ KB

In [15]:
Final_df = Final_df[Final_df["Price"] <= 7000]

In [17]:
# replacing the nan value
Final_df = Final_df.replace({np.nan: None})

In [19]:
Final_df.to_csv("Overall_Details.csv", index=False)

# Create My SQL

In [21]:
#sql connection
conn=mysql.connector.connect(host="localhost", user="root", password="Saisakthi@18",database="red_bus")
my_cursor = conn.cursor()
my_cursor.execute("CREATE DATABASE IF NOT EXISTS red_bus")

In [28]:

csv_file_path = "Overall_Details.csv" 
Final_df = pd.read_csv("Overall_Details.csv")

conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="Saisakthi@18",
    database="red_bus"
)


my_cursor = conn.cursor()

insert_query = '''INSERT INTO bus_details(
                    Bus_name,
                    Bus_type,
                    Start_time,
                    End_time,
                    Total_duration,
                    Price,
                    Seats_Available,
                    Ratings,
                    Route_link,
                    Route_name,
                    State_Name)
                  VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)'''


data = Final_df.values.tolist()

try:
    my_cursor.executemany(insert_query, data)
    conn.commit()
    print("Values inserted successfully")
except mysql.connector.Error as err:
    print(f"Error: {err}")
    conn.rollback()
    
my_cursor.close()
conn.close()

Values inserted successfully

# Next Step

In [ ]:
# Bulid Streamlit